.home {

    min-height: 100vh;

    background: #f5f7fb;

    padding-bottom: 50px;

}



.home h1 {

    text-align: center;

    padding-top: 60px;

    font-size: 44px;

    font-weight: 700;

    color: #111827;

}



.home h1::after {

    content: "";

    display: block;

    width: 80px;

    height: 4px;

    background: #2563eb;

    margin: 15px auto;

    border-radius: 10px;

}