.url-card {

    width: 100%;
    max-width: 650px;

    margin: 25px auto;

    padding: 30px;

    background: white;

    border-radius: 18px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.08);

    transition: 0.3s ease;

}


.url-card:hover {

    transform: translateY(-4px);

    box-shadow: 0 15px 35px rgba(0,0,0,0.12);

}



.url-card h2 {

    margin-bottom: 25px;

    font-size: 24px;

    color: #111827;

}



.url-card p {

    margin-top: 12px;

    color: #374151;

    font-size: 15px;

}



.url-card strong {

    color: #111827;

}



.url-card a {

    display: inline-block;

    margin-top: 8px;

    color: #2563eb;

    word-break: break-all;

    font-size: 15px;

}


.url-card a:hover {

    text-decoration: underline;

}



.url-card button {

    margin-top: 15px;

    padding: 12px 22px;

    border: none;

    border-radius: 10px;

    background: #2563eb;

    color: white;

    font-size: 15px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;

}



.url-card button:hover {

    background: #1d4ed8;

}